---
import Layout from '../layouts/Layout.astro';
import GameMenu from '../components/GameMenu.astro';
import BeeAnimation from '../components/BeeAnimation.astro';
import SpellingGame from '../components/SpellingGame.astro';
---

<Layout title="Spelling Bee Game">
    <main class="container">
        <BeeAnimation />
        <GameMenu />
        <SpellingGame />
    </main>
</Layout>

<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
        position: relative;
        min-height: 100vh;
    }
    
    .container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('/images/meadow.webp');
        background-size: cover;
        background-position: center;
        z-index: -2;
    }
    
    .container::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    main > * {
        position: relative;
        z-index: 2;
    }
</style>
